@model IEnumerable<Subscription_Proj.Models.SubscriptionInfo>

@{
    ViewData["Title"] = "ShowSubs";
}

<h1>Subscription List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daysUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daysUsed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SubscriptionId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SubscriptionId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SubscriptionId })
            </td>
        </tr>
}
    </tbody>
</table>
